---
title: '能无知'
layout: default
permalink: '/author-能无知.html'
---
<div class="container pt-5">
<div class="row pt-5 justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <h5 class="bordered-link"><a href="{{ site.authors.author1.twitter }}">Follow</a></h5></h2>
                <p class="excerpt">{{ site.authors.author1.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.author1.name }}" src="{{site.baseurl}}/{{ site.authors.author1.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Posts by {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author","author1" %}
            {% for post in posts %} 
            <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            {% include main-loop-card.html %}
            <hr class="dotted"> 
            {% endfor %}
    </div>
</div>
</div>
