---
title: "资源"
layout: alt
icon: feather
permalink: "/featured-tabs"
type: page
---
 <style>
  
/* Rounded tabs */
@media (min-width: 576px) {
  .rounded-nav {
    border-radius: 50rem !important;
  }
}

@media (min-width: 576px) {
  .rounded-nav .nav-link {
    border-radius: 50rem !important;
  }
}
</style>
{% include menu-header.html %}  
    <div class="container py-5">
        <div class="row justify-content-between pt-5">
            <div class="col col-md-12 pr-md-5 pl-md-5">
<div class="p-5 bg-white rounded shadow mb-5">
    <!-- Rounded tabs -->
    <ul id="myTab" role="tablist" class="nav nav-tabs nav-pills flex-column flex-sm-row text-center bg-light border-0 rounded-nav">
      <li class="nav-item flex-sm-fill">
        <a id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="true" class="nav-link border-0 text-uppercase font-weight-bold active">画廊</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="Player-tab" data-toggle="tab" href="#Player" role="tab" aria-controls="Player" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">音乐</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="ziyuan-tab" data-toggle="tab" href="#ziyuan" role="tab" aria-controls="ziyuan" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">资源</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false" class="nav-link border-0 text-uppercase font-weight-bold">导图</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div id="gallery" role="tabpanel" aria-labelledby="gallery-tab" class="tab-pane fade px-4 py-5 show active">
     
                                      {% include gallery.html %}  
      </div>
      <div id="Player" role="tabpanel" aria-labelledby="Player-tab" class="tab-pane fade px-4 py-5">

                                      {% include music-Player.html %}  
      </div>
      <div id="ziyuan" role="tabpanel" aria-labelledby="ziyuan-tab" class="tab-pane fade px-4 py-5">

                                      {% include fancytree.html %}         
      </div>
      <div id="contact" role="tabpanel" aria-labelledby="contact-tab" class="tab-pane fade px-4 py-5">

                                      {% include network.html %}   
      </div>
    </div>
    <!-- End rounded tabs -->
                    </div>
                </div>
            </div>
