---
title: "标签"
layout: alt
icon: tabs
permalink: "/featured-tabs"
type: page
---

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col col-md-12 pr-md-5 pl-md-5">
                <div class="bd-example bd-example-tabs">
                    <ul class="nav nav-pills  flex-column justify-content-center flex-sm-row mb-3" id="pills-tab" role="tablist">
                        <li class="  border border-light  rounded text-sm-center nav-item mr-md-1">
                            <a class="nav-link pt-md-3 pb-md-3 pr-md-5 pl-md-5 active show" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false"><i class="fa fa-laptop fa-lg " aria-hidden="true"></i> Home</a>
                        </li>
                        <li class="  border border-light  rounded text-sm-center mr-md-1 nav-item ">
                            <a class="nav-link pt-md-3 pb-md-3 pr-md-5 pl-md-5" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="far fa-gem fa-lg mr-2" aria-hidden="true"></i> Profile</a>
                        </li>
                        <li class="  border border-light  rounded text-sm-center  nav-item mr-md-1">
                            <a class="nav-link pt-md-3 pb-md-3 pr-md-5 pl-md-5" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"><i class="fa fa-comments fa-lg " aria-hidden="true"></i> Contact</a>
                        </li>
                        <li class="  border border-light  rounded text-sm-center mr-md-1 nav-item">
                            <a class="nav-link pt-md-3 pb-md-3 pr-md-5 pl-md-5" id="pills-info-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true"><i class="fa fa-code fa-lg " aria-hidden="true"></i> Info</a>
                        </li>
                    </ul>
                    <div class="tab-content pt-5 pb-5" id="pills-tabContent">
                        <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="container-fluid">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-12 col-md-5  text-left">

                                      {% include gallery.html %}  
                                       
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="container-fluid">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-12 col-md-5  text-left">

                                      {% include music-Player.html %}  
                                       
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="container-fluid">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-12 col-md-5  text-left">

                                      {% include fancytree.html %}  
                                   
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade active show" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
                            <div class="container-fluid">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-12 col-md-5  text-left">

                                      {% include network.html %}  
   
                                       
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


