---
title: "photos"
layout: alt
icon: images
permalink: "/gallery"
type: page
---
<!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
		       {% for post in site.categories.gallery %}
                              {% if post.image %}
                <div class="mix col-lg-3 col-md-3 col-sm-6">
                    <div class="item">
                        <a href="{{post.url}}" data-fancybox="gallery" class="image">
                <img src="{{post.image}}' alt="..." class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="fa fa-search-plus"></i></div></a></div>
                    </div>
          		{% endif %}
         {% endfor %}
            </div>
    </section>
