---
title: "相册"
layout: alt
icon: images
permalink: "/gallery"
type: page
---

<head>
<style>
.image {
    border: 2px solid #fff;
    width: 100%;
    height: 300px;
    overflow: hidden
}

.snip * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
	
</style>
</head>
{% include menu-header.html  %}  
<h1 class="logo-1">
      凡所有相 ⚡ 皆是虚妄
    </h1>
<!-- Gallery Section-->
    <section class="pt-5 pb-5 gallery">  
	     <div class="row">    
	{% for post in site.categories.gallery %}
          {% if post.image %}
        <figure class="col-md-4 image snip">
		<img class="card-img img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}"> 

	    <h5 class="card-title title">{{ post.title }}</h5>

	     <a href="{{site.baseurl}}{{post.url}}"></a>
	</figure> 	
	   {% endif %}
         {% endfor %}
</div>
    </section>
