
<!-- Grid sizer -->
            <div class="grid-sizer col-md-4"></div>
<div class="col-md-4 grid-item mb-3">  

     {% if post.type == "博客" %}
<div class="postcontent">
        <a href="{{site.baseurl}}{{post.url}}">     
        <img class="card-img img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}">             
         <h2 class="card-title title">{{ post.title }}</h2>   
            <div class="notraco">
        </a>
              <p class='post-content small text-muted font-italic'>{{post.summary}}</p>
                 <div class="showcat">
            {% for category in post.categories %}
              <a class="btn btn-sm btn-danger mb-1" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
                {{ category }}
              </a>
            {% endfor %}
                </div>
                  
                 <div class="more">                
                    <a href="{{site.baseurl}}{{post.url}}"><i class="fas fa-link m-1 text-primary" aria-hidden="true"></i></a> 
                </div> 
            </div>
           </div>
 {% endif %}  
   
</div>

