            <!-- Grid sizer -->
            <div class="grid-sizer col-lg-4 col-md-6"></div>
<div class="col-lg-4 col-md-6 grid-item mb-4 card card-pin raco" {% unless post.image %} style="min-height:250px;background:#fff;" {% endunless %}>
      
         {% if post.type == "youtube" %}
            {% if post.yt-video-id %}
                <div class="video_container">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ post.yt-video-id }}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>                
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/'}}" class="noline">
                </a>
                  </div>
            {% endif %}
          {% endif %}
        
    {% unless post.image %}
    
       <a href="{{site.baseurl}}{{post.url}}"  class="d-block p-3">
        <h2 class="card-title title">{{ post.title }}</h2>         
           <small class="post-content small text-muted font-italic">{{ post.content | strip_html | truncatewords:25 }}</small>
        <div class="more mr-2 mb-2">                
            <i class="fa fa-arrow-circle-right text-white" aria-hidden="true"></i>
        </div> 
        </a>
        
    {% endunless %}
        
    {% if post.image %} 
    
    <div class="wrapcat">

        <span class="pinme">
                <h5 class="mb-3">{{post.title}}</h5>
                <p class="mb-3 lead">
                    {{ post.excerpt | strip_html | strip_html | truncate: 30 }}
                </p>
                <a href="{{site.baseurl}}{{post.url}}" class="btn btn-dark">阅读全部</a>
        </span>

         <span class="gotopost">
             <a href="{{site.baseurl}}{{post.url}}" class="text-dark"><i class="fa fa-arrow-circle-right"></i> More
             </a>
         </span> 

    </div>
           
    
        <a href="{{site.baseurl}}{{post.url}}">
         
        <img class="card-img img-fluid w-100 mb-3 img-thumbnail shadow-sm rounded-0" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}">             
        
            <div class="notraco">
                <h2 class="card-title title">{{ post.title }}</h2>
                <div class='post-content small text-muted font-italic'>{{post.summary}}</div>
 
                 <div class="showcat">
            {% for category in post.categories %}
              <a class="btn btn-sm btn-danger mb-1" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">
                {{ category }}
              </a>
            {% endfor %}
                </div>
                  
                 <div class="more">                
                    <i class="fa fa-arrow-circle-right text-primary" aria-hidden="true"></i>
                </div> 
            </div>
            
         </a>
    
    {% endif %}
        
   
</div>
