	<table>
	<colgroup>
		<col width="300px" valign="top">
		<col width="90%">
	</colgroup>
	<tr class="bg-white">
		<td valign="top">
			<!-- Add a <div> element where the tree should appear: -->
			<div id="tree">
			<ul>
				<li class="expanded folder">书籍
				<ul>
					<li><a href="https://www.jiumodiary.com/" target="contentFrame">鸠摩搜索</a>
					<li><a href="https://1drv.ms/u/s!AltsHVOn1WMxj0BGq-N9PU0z6DPx?e=oWl2cP" target="_blank">各版本《金刚经》原文</a>
					<li><a href="https://1drv.ms/u/s!AltsHVOn1WMxj0g7VcEuGRHWSipm?e=31kwuT" target="_blank">各版本《坛经》</a>
					<li><a href="https://1drv.ms/u/s!AltsHVOn1WMxj0mxN9hTIsC9ebqQ?e=ebjEOg" target="_blank">《维摩诘经》</a>
					<li><a href="https://1drv.ms/u/s!AltsHVOn1WMxjzfG7sOsyNtztB3A?e=yJDM15" target="_blank">其他经典</a>
				</ul>
				<li class="expanded folder">媒体资料
				<ul>
					<li id="id1">图片
						<ul>
							<li id="id1.1"><a href="https://giphy.com/search/lightning-stickers" target="_blank">动态图片</a>
							<li id="id1.2"><a href="https://wallhaven.cc/search?q=id%3A479&sorting=random&ref=fp&seed=XBywx&page=2" target="_blank">精美壁纸</a>
							<li id="id1.3"><a href="https://unsplash.com/" target="_blank">unsplash</a>
						</ul>
					<li><a href="https://1drv.ms/u/s!AltsHVOn1WMxjwerw9DTtx7bJFgF?e=e4hE5O" target="_blank">mp4</a>
					<li><a href="https://1drv.ms/u/s!AltsHVOn1WMxjw1rC-0dLZ9Fbckf?e=stP9W9" target="_blank">mp3</a>
					<li><a href="//api.jquery.com/" target="_blank">API browser</a>
					<li><a href="" target="_blank">Fancytree</a>
				</ul>
				<li class="expanded folder">软件相关
				<ul>
					<li><a href="https://apps.ankiweb.net/" target="_blank">anki</a>
					<li><a href="https://www.mediafire.com/file/ljv47o8vi86irdv/Internet+Download+Manager+6.38.2.rar/file" target="_blank">idm下载器</a>
					<li><a href="sample-iframe-1.html" target="contentFrame">Welcome</a>
				</ul>
			</ul>
			</div>
		</td>

		<td>
			<iframe src="{{site.baseurl}}/Memory-Game" name="contentFrame" width="100%" height="500"
					scrolling="yes" marginheight="0" marginwidth="0" frameborder="0">
			  <p>Your browser does not support iframes</p>
			</iframe>
		</td>
	</tr>
	</table>
