	<table>	
	<tr>
	<td valign="top">
<div id="tree">
			<ul>
				<li class="expanded folder">Search engines
				<ul>
					<li><a href="https://nengwuzhi.github.io/dragula/" target="contentFrame">DuckDuckGo</a>
					<li><a href="//duckduckgo.com" target="_self">DuckDuckGo (target='_self')</a>
					<li><a href="http://duckduckgo.com" target="_top" title="This link replaces the current page">DuckDuckGo (target='_top')</a>
					<li><a href="https://www.bing.com" target="contentFrame">Bing</a>
					<li><a href="//www.wolframalpha.com/" target="contentFrame">WolframAlpha</a>
				</ul>
				<li class="expanded folder">jQuery
				<ul>
					<li><a href="//www.jquery.com/" target="contentFrame">jQuery</a>
					<li><a href="//ui.jquery.com/" target="contentFrame">jQuery UI</a>
					<li><a href="//api.jquery.com/" target="contentFrame">API browser</a>
					<li><a href="//wwwendt.de/tech/fancytree/doc/jsdoc/index.html" target="contentFrame">Fancytree</a>
				</ul>
				<li class="expanded folder">Misc
				<ul>
					<li><a href="sample-iframe-1.html" target="contentFrame">Welcome</a>
				</ul>
			</ul>
</div>
