	<table>
	<colgroup>
		<col width="300px" valign="top">
		<col width="90%">
	</colgroup>
	<tr class="bg-white">
		<td valign="top">
			<!-- Add a <div> element where the tree should appear: -->
			<div id="tree">
			<ul>
				<li class="expanded folder">书籍
				<ul>
					<li><a href="https://nengwuzhi.github.io" target="contentFrame">DuckDuckGo</a>
					<li><a href="http://duckduckgo.com" target="_top" title="This link replaces the current page">DuckDuck</a>
					<li><a href="https://www.bing.com" target="contentFrame">必应</a>
					<li><a href="//www.wolframalpha.com/" target="contentFrame">WolframAlpha</a>
				</ul>
				<li class="expanded folder">音视资料
				<ul>
					<li><a href="//www.jquery.com/" target="contentFrame">jQuery</a>
					<li><a href="//ui.jquery.com/" target="contentFrame">jQuery UI</a>
					<li><a href="//api.jquery.com/" target="contentFrame">API browser</a>
					<li><a href="//wwwendt.de/tech/fancytree/doc/jsdoc/index.html" target="contentFrame">Fancytree</a>
				</ul>
				<li class="expanded folder">软件相关
				<ul>
					<li><a href="https://apps.ankiweb.net/" target="_blank">anki</a>
					<li><a href="https://www.mediafire.com/file/ljv47o8vi86irdv/Internet+Download+Manager+6.38.2.rar/file" target="_blank">idm下载器</a>
					<li><a href="sample-iframe-1.html" target="contentFrame">Welcome</a>
				</ul>
			</ul>
			</div>
		</td>

		<td>
			<iframe src="{{site.baseurl}}/Memory-Game" name="contentFrame" width="100%" height="500"
					scrolling="yes" marginheight="0" marginwidth="0" frameborder="0">
			  <p>Your browser does not support iframes</p>
			</iframe>
		</td>
	</tr>
	</table>
