<!DOCTYPE html>
<html lang="en">
<head>
<style>
	* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
	#box{
		width: 1366px;
		height: 768px;
		overflow: hidden;
		position: relative;
		background:url(image/photo.jpg) no-repeat;
	}
	#box ul{
		display: block;
		width: 2666px;
		height: 100%;
		animation: yd 10s linear infinite;
	}
	#box ul li {
		float: left;
		list-style: none;
		
	}
	.fog-image{
		width: 1333px;
		height: auto;

	}
	@keyframes yd{
		to{
			transform: translate(-1333px);
		}
	}
</style>
</head>
<body>
<div id="box">
   <ul>
	   <li><img src="https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png" alt="" class="fog-image"></li>
	   <li><img src="https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png" alt="" class="fog-image"></li>
	   <li><img src="https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png" alt="" class="fog-image"></li>
   </ul>
</div>
</body>
</html>
