<!-- Footer -->
<footer class="bg-light">
    <div class="container py-5">
      <div class="row py-3">
        <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">
         <h6 class="text-uppercase font-weight-bold mb-4">关于作者</h6>
  {% include Profile-Card.html %}  
        </div>

       <div class="col-lg-3 col-md-6">
         <h6 class="text-uppercase font-weight-bold mb-4">联系我们</h6>
<!--headin5_amrc-->
<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>
<p><i class="fa fa-phone"></i>  +91-99899891998  </p>
<p><i class="fa fa fa-envelope"></i> miandenglu@protonmail.com  </p>
       </div>
        <div class="col-lg-3 col-md-6 mb-lg-0">
         <h6 class="text-uppercase font-weight-bold mb-4">快速链接</h6>
                <ul class="card-text">
                    <li>关于我们</li>
                    <li>博客</li>
                    <li><a class="" data-toggle="modal" data-target="#exampleModal">联系我们</a></li>
                    <li><a href="{{site.baseurl}}/Memory-Game" target="_blank">休闲游戏</a></li>
                </ul>
           <div class="p-1 rounded border">
            <div class="input-group">
              <input type="email" placeholder="Enter your email address" aria-describedby="button-addon1" class="form-control border-0 shadow-0">
              <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link"><i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </div>

<!-- Modal -->
<div class="modal fade mt-3" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-light pl-2">
            <div class="modal-header border-0 py-0"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>
            <div class="container d-flex justify-content-center">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title pl-3 pt-0 pb-3">联系我们</h2>
                        <div class="form-group col-md-12"> <input type="text" class="form-control" placeholder="Name"> </div>
                        <div class="form-group col-md-12"> <input type="email" class="form-control" placeholder="E-mail"> </div>
                        <div class="form-group col-md-12"> <input type="text" class="form-control" placeholder="Message"> </div>
                        <div class="form-group col-md-12"> <button class="btn btn-dark btn-block">Send</button> </div>
                    </div>
                    <div class="col-lg-6 right-image pl-3"> <img src="https://5b0988e595225.cdn.sohucs.com/images/20200311/e89c8709d85842d89b8945d7545ff547.jpeg" width="100%" height="100%"> </div>
                </div>
            </div>
        </div>
    </div>
</div>    
               
        </div>
      </div>
    </div>

  </footer>
  <!-- End -->
