
<!-- A wrapper DIV to center the Gallery -->
<div style="text-align:center;">

    <!-- Define the Div for Gallery -->
    <!-- 1. Add class html5gallery to the Div -->
    <!-- 2. Define parameters with HTML5 data tags -->
	<div style="display:none;margin:0 auto;" class="html5gallery" data-skin="darkness" data-width="480" data-height="272" data-resizemode="fill" >
		
		<!-- Add videos to Gallery -->
		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="https://onedrive.live.com/embed?cid=3163D5A7531D6C5B&resid=3163D5A7531D6C5B%211931&authkey=ANXcZjMCw8g2HPE"><img src="https://ch3301files.storage.live.com/y4p-OMJRnFbJ3K0rXnGsBJxhpocVF9vf2vAoIeeJSlmsNkUjgxPdr3NbZ60vVJIOVxF9m1dEBAD-lLO_8NT_Nk_qMCGKkf-PQFQUprRIKVvJzxZFEWXdVkaEGdkr5Bwc-n3PvFXKbVPDZ3ML8elq4vnASJi6x9IiJTUyanG0PFDPHeQ217Uz8ZkGDB8U_mTimcXk3vKSSt_NclznrtKIFYCl_BbXzM2N5Yq0xL-C3WjAf8/20%20MIN%20MUST%20TRY%20NOW%20(%20WARNING%20)%20VERY%20POWERFUL%20THIRD%20EYE%20MUSIC%20%20Instant%20Third%20Eye%20Stimulation%20%20THETA%20REALMS%20Third%20Eye%20Binaural%20Beats%E2%97%AD%20WARNING%20VERY%20POWERFUL%20.mp4.jpg?psid=1&width=301&height=170" alt="Big Buck Bunny, Copyright Blender Foundation"></a>

		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="https://onedrive.live.com/embed?cid=3163D5A7531D6C5B&resid=3163D5A7531D6C5B%211931&authkey=ANXcZjMCw8g2HPE"><img src="https://ch3301files.storage.live.com/y4p-OMJRnFbJ3K0rXnGsBJxhpocVF9vf2vAoIeeJSlmsNkUjgxPdr3NbZ60vVJIOVxF9m1dEBAD-lLO_8NT_Nk_qMCGKkf-PQFQUprRIKVvJzxZFEWXdVkaEGdkr5Bwc-n3PvFXKbVPDZ3ML8elq4vnASJi6x9IiJTUyanG0PFDPHeQ217Uz8ZkGDB8U_mTimcXk3vKSSt_NclznrtKIFYCl_BbXzM2N5Yq0xL-C3WjAf8/20%20MIN%20MUST%20TRY%20NOW%20(%20WARNING%20)%20VERY%20POWERFUL%20THIRD%20EYE%20MUSIC%20%20Instant%20Third%20Eye%20Stimulation%20%20THETA%20REALMS%20Third%20Eye%20Binaural%20Beats%E2%97%AD%20WARNING%20VERY%20POWERFUL%20.mp4.jpg?psid=1&width=301&height=170" alt="Big Buck Bunny, Copyright Blender Foundation"></a>	

		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="https://onedrive.live.com/embed?cid=3163D5A7531D6C5B&resid=3163D5A7531D6C5B%211931&authkey=ANXcZjMCw8g2HPE"><img src="https://ch3301files.storage.live.com/y4p-OMJRnFbJ3K0rXnGsBJxhpocVF9vf2vAoIeeJSlmsNkUjgxPdr3NbZ60vVJIOVxF9m1dEBAD-lLO_8NT_Nk_qMCGKkf-PQFQUprRIKVvJzxZFEWXdVkaEGdkr5Bwc-n3PvFXKbVPDZ3ML8elq4vnASJi6x9IiJTUyanG0PFDPHeQ217Uz8ZkGDB8U_mTimcXk3vKSSt_NclznrtKIFYCl_BbXzM2N5Yq0xL-C3WjAf8/20%20MIN%20MUST%20TRY%20NOW%20(%20WARNING%20)%20VERY%20POWERFUL%20THIRD%20EYE%20MUSIC%20%20Instant%20Third%20Eye%20Stimulation%20%20THETA%20REALMS%20Third%20Eye%20Binaural%20Beats%E2%97%AD%20WARNING%20VERY%20POWERFUL%20.mp4.jpg?psid=1&width=301&height=170" alt="Big Buck Bunny, Copyright Blender Foundation"></a>
	</div>

</div>

<style type="text/css">
div.guide {margin:12px 24px;}
div.guide span {color:#ff0000; font:italic 14px Arial, Helvetica, sans-serif;}
div.guide p {color:#000000; font:14px Arial, Helvetica, sans-serif;}
div.guide pre {color:#990000;}
div.guide p.title {color:#df501f; font:18px Arial, Helvetica, sans-serif;}
</style>
