
<!-- A wrapper DIV to center the Gallery -->
<div style="text-align:center;">

    <!-- Define the Div for Gallery -->
    <!-- 1. Add class html5gallery to the Div -->
    <!-- 2. Define parameters with HTML5 data tags -->
	<div style="display:none;margin:0 auto;" class="html5gallery" data-skin="darkness" data-width="480" data-height="272" data-resizemode="fill" >
		
		<!-- Add videos to Gallery -->
		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="https://onedrive.live.com/embed?cid=3163D5A7531D6C5B&resid=3163D5A7531D6C5B%211931&authkey=ANXcZjMCw8g2HPE" data-webm="images/Big_Buck_Bunny.webm"><img src="images/Big_Buck_Bunny.jpg" alt="Big Buck Bunny, Copyright Blender Foundation"></a>
		
		<!-- Big Buck Bunny Copyright 2008, Blender Foundation http://www.bigbuckbunny.org -->
		<a href="https://onedrive.live.com/embed?cid=3163D5A7531D6C5B&resid=3163D5A7531D6C5B%211931&authkey=ANXcZjMCw8g2HPE" data-webm="https://onedrive.live.com/embed?cid=3163D5A7531D6C5B&resid=3163D5A7531D6C5B%211931&authkey=ANXcZjMCw8g2HPE"><img src="https://onedrive.live.com/embed?cid=3163D5A7531D6C5B&resid=3163D5A7531D6C5B%211931&authkey=ANXcZjMCw8g2HPE" alt="Big Buck Bunny, Copyright Blender Foundation"></a>
	</div>

</div>

<style type="text/css">
div.guide {margin:12px 24px;}
div.guide span {color:#ff0000; font:italic 14px Arial, Helvetica, sans-serif;}
div.guide p {color:#000000; font:14px Arial, Helvetica, sans-serif;}
div.guide pre {color:#990000;}
div.guide p.title {color:#df501f; font:18px Arial, Helvetica, sans-serif;}
</style>
