<!-- Hidden video div -->
<div style="display:none;" id="video1">
    <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
        <source src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3YvcyFBbHRzSFZPbjFXTXhqd3ZNZ2s5MU5qMmw5cmxVP2U9SXdBR29B.mp4" type="video/mp4">
         Your browser does not support HTML5 video.
    </video>
</div>
<div style="display:none;" id="video2">
    <video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
        <source src="https://onedrive.gimhoy.com/1drv/aHR0cHM6Ly8xZHJ2Lm1zL3YvcyFBbHRzSFZPbjFXTXhqd3BwQmZuY19pdkdZYjdVP2U9enp3eUg1.mp4" type="video/mp4">
         Your browser does not support HTML5 video.
    </video>
</div>
 
<!-- data-src should not be provided when you use html5 videos -->
<ul id="video-gallery">
  <li data-poster="video-poster1.jpg" data-sub-html="video caption1" data-html="#video1" >
      <img src="img/thumb1.jpg" />
  </li>
  <li data-poster="video-poster2.jpg" data-sub-html="video caption2" data-html="#video2" >
      <img src="img/thumb2.jpg" />
  </li>
  ...
</ul>
