<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>{{page.title}} | {{site.name}}</title>
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl | prepend: site.url | replace: '//', '/' }}/feed.xml">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">
    {% seo %}
    
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">   
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap-toc.css">

<link href="{{site.baseurl}}/assets/css/dragula.css" rel="stylesheet">   
    <!-- font -->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">  
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>


<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/csshake-slow.css">
   
    
</head>
