<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="keywords" content="佛教, 道家, 基督, 国学, 瑜伽, 破解软件, 老子, 释迦牟尼，耶稣">
    <meta name="description" content="{{site.description}}">
    <meta name="robots" content="index,follow">
    <title>{{page.title}} | {{site.name}}</title>
        {% seo %}
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl | prepend: site.url | replace: '//', '/' }}/feed.xml">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">
    <!--dark-mode-style-->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/dark-mode.css">

<link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap-toc.css">   
    <!--fancytree-->
<link href="{{site.baseurl}}/assets/css/skin-win8/ui.fancytree.css" rel="stylesheet">  
    <!-- fancybox-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <!-- font -->
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/effects.css">
     
</head>
