<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />    
    <meta name="keywords" content="佛教, 道家, 国学, 软件, 老子, 释迦牟尼">
    <meta name="description" content="{{site.description}}">
    <meta name="robots" content="index,follow">
    <title>{{page.title}} | {{site.name}}</title>
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.baseurl | prepend: site.url | replace: '//', '/' }}/feed.xml">
<link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">
    {% seo %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap-toc.css">

    <!--fancytree-->
<link href="{{site.baseurl}}/assets/css/skin-win8/ui.fancytree.css" rel="stylesheet">  
    <!-- fancybox-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <!-- font -->
<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/csshake-slow.css">
   
    
</head>
