<!-- Don't edit anything here, categories are dynamically generated -->

    <div class="tags-cloud">
    <ul class="navbar-nav categories">
    {% assign tags_list = site.tags %}
      {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
<a class="nav-link tags" href="{{site.baseurl}}/categories.html#{{ tag | downcase }}"><i class="zmdi zmdi-label-heart"></i>{{ tag }} </a>
        {% endfor %}
      {% else %}
        {% for tag in tags_list %}
<a class="nav-link tags" href="{{site.baseurl}}/categories.html#{{ tag[0] | downcase }}"><i class="zmdi zmdi-label-heart"></i>{{ tag[0] }} </a>
        {% endfor %}
      {% endif %}
    {% assign tags_list = nil %}
    </ul>    
    </div>

