<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">
    <a href="#" class="navbar-brand text-muld"><img class="rounded-circle shake-slow mr-1" src="{{site.baseurl}}/{{site.logotext}}" width="30"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
	    
  		<ul class="navbar-nav">
			<li class="nav-item">
      			<a href="/" class="nav-link">主页</a>
    		</li>

    		 {% for item in site.nav %}
                  <li class="nav-item"><a class="nav-link" href="{{item.url}}"  title="{{item.description}}">{{item.title}}</a></li>
                  {% endfor %}     
 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">分类 <span class="caret"></span></a>
          <div class="dropdown-menu" aria-labelledby="download">
  
                    <a href="{{ root_url }}/{{ site.all_dir }}#{{ category | first }}" class="dropdown-item" cate="All">
                        All&nbsp;<span class=""> {{site.posts | size}}</span>
                    </a>
            <div class="dropdown-divider"></div>
   	      {% for category in site.categories %}

            <a class="dropdown-item" href="{{ root_url }}/{{ site.all_dir }}#{{ category | first }}" cate="{{ category | first }}">
                        {{ category | first }}&nbsp;<span class="categories-badge">{{ category | last | size }}</span>
            </a>

              {% endfor %}  


          </div>
        </li>
      </ul>
	    
      <ul class="nav navbar-nav ml-auto">	
	      
  <div class="search" style="display:inline-block;position:relative;">
	     <div style="position:absolute;right:4px;top:1px;cursor:pointer;display:none;" class="search-clear">
		<button type="button" class="close" aria-hidden="true">
			<span class="lnr lnr-cross"></span>
			
		</button>
	     </div>  
	 <i class="search-start"></i>
   <input id="exampleFormControlInput1" type="text" placeholder="请输入..." class="search-input field form-control input-text w200" aria-describedby="basic-addon1" name="keyword" id="keyword" style="height:35px;" />
	          <button type="submit" class="submit"><img src="/assets/css/icon/seek.svg" alt="文章搜寻"></button>
		  <div class="search-results"></div> 
 </div>


<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html"><img class="rounded-circle shake-slow mr-2" src="{{site.baseurl}}/{{site.logo}}" width="30"><span class="align-middle"></span></a>
</li>   
      </ul>
	    

    </div>
  </div>
</div>
		

