<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/APlayer.min.css">
<div id="aplayer"></div>
<script src="{{site.baseurl}}/assets/js/APlayer.min.js"></script>
</head>
<body>
    
    <script>
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    mini: false,
    fixed: false,
    autoplay: false,
    theme: '#FADFA3',
    loop: 'all',
    lrcType: 3,
    order: 'random',
    preload: 'auto',
    volume: 0.7,
    mutex: true,
    listFolded: false,
    listMaxHeight: 90,
  audio: [
        {
            name: '大悲咒 - 般禅梵唱妙音组',
            artist: '般禅梵唱妙音组',  
            url: 'https://public.ch.files.1drv.com/y4mFC7ggzlJqT2JsV09gTxrzikBuCw4NVAswgiAfpmfMSt-5h617DV3sYSlRQbYtFYY_Cxiwx7XFiOZR7XglewzoMzxe6D9deAh_APK0YAagQPknAh0G5QIbOR7Wxyw4y7KGbFSJtYb7iqClqaFewinr4dCNO4dwY9TW6Yfj1LtAgAwJOovm4fk9ZGEsC8BLw040nRdlvHCai3XSiLnCUR1hYAkRdtfRmH_PNrAMobesnU?',
            cover: 'https://ch3301files.storage.live.com/y4pdyPtLZ9jsScKM_fM8S1NGYaBvulPV5wxdr5ux4ltj2n8pNXjLaPa8qhH9eaVNKGwXcP-RhuFWq3d8Wa9CxfJa-Xjx9sHEujRZFSCUDJO4zgDZP5hHIwqZG4IQbKX7yMNN0CXvRCsHB3GytGBDSE797CAyImmKgQMrFsH7sLWQ0edxBhYVY6TxQaTj8e1cjvKn3PXJjeq9qhf6xtkxDW2i5hnmBwVpepSV-m1IV1JH8U/%E5%A4%A7%E6%82%B2%E5%92%92%20-%20%E8%88%AC%E7%A6%85%E6%A2%B5%E5%94%B1%E5%A6%99%E9%9F%B3%E7%BB%84.jpg?psid=1&width=301&height=297',
            lrc: '{{site.baseurl}}/music/大悲咒-般禅梵唱妙音组.lrc',
            theme: '#ebd0c2'
        },
        {
            name: '汉传大悲咒',
            artist: '楊李榮',
            url: 'http://m10.music.126.net/20201122150004/1f367d3d93e09f90f1f4c216519863bd/ymusic/555e/5409/0153/b4dc6dccefccefa1232769f4b181d4dc.mp3',
            cover: 'http://p1.music.126.net/Rbw_kZZHFLrH1hZquzBQtg==/109951164167708545.jpg?param=300x300',
            lrc: '{{site.baseurl}}/music/大悲咒（最好听的版本）-楊李榮.lrc',
            theme: '#ebd0c2'
        },
      
        {
            name: '栀子花',
            artist: '刘若英',
            url: 'http://m10.music.126.net/20201116122447/e9cefb18d4d123f1189273c2459b5168/ymusic/2702/abea/2764/bb35d03618fe15ae405cc532e72c6bfd.mp3',
            cover: 'http://p2.music.126.net/k9u4bzUZa2MHq75SVmcnUg==/109951163105482701.jpg?param=300x300',
            lrc: '{{site.baseurl}}/music/天空之城.lrc',
            theme: '#ebd0c2'
        },
      
      
       {
            name: '张津涤·云菲菲-泛水荷塘',
            artist: '张津涤·云菲菲',
            url: '{{site.baseurl}}/music/张津涤·云菲菲-泛水荷塘.mp3',
            cover: '{{site.baseurl}}/music/张津涤·云菲菲-泛水荷塘.jpg',
            lrc: '{{site.baseurl}}/music/张津涤·云菲菲-泛水荷塘.lrc',
            theme: '#333'
        }
    ]
});

    </script>
</body>
