<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/APlayer.min.css">
<div id="aplayer"></div>
<script src="{{site.baseurl}}/assets/js/APlayer.min.js"></script>
</head>
<body>
    
    <script>
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    mini: false,
    fixed: false,
    autoplay: true,
    theme: '#FADFA3',
    loop: 'all',
    lrcType: 3,
    order: 'random',
    preload: 'auto',
    volume: 0.7,
    mutex: true,
    listFolded: false,
    listMaxHeight: 90,
  audio: [
        {
            name: '天空之城',
            artist: 'artist1',
            url: '{{site.baseurl}}/music/天空之城.mp3',
            cover: '{{site.baseurl}}/music/天空之城.jpg',
            lrc: '{{site.baseurl}}/music/天空之城.lrc',
            theme: '#ebd0c2'
        },
        {
            name: '和田光司',
            artist: '和田光司',
            url: 'http://stor.cloudmusics.cn/mp3/2020/01/f659bc46e729bfccfeafdec7af903388.mp3',
            cover: '{{site.baseurl}}/music/天空之城.jpg',
            lrc: '{{site.baseurl}}/music/天空之城.lrc',
            theme: '#ebd0c2'
        },
      
       {
            name: '张津涤·云菲菲-泛水荷塘',
            artist: '张津涤·云菲菲',
            url: '{{site.baseurl}}/music/张津涤·云菲菲-泛水荷塘.mp3',
            cover: '{{site.baseurl}}/music/张津涤·云菲菲-泛水荷塘.jpg',
            lrc: '{{site.baseurl}}/music/张津涤·云菲菲-泛水荷塘.lrc',
            theme: '#333'
        }
    ]
});

    </script>
</body>
