<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/APlayer.min.css">
<div id="aplayer"></div>
<script src="{{site.baseurl}}/assets/js/APlayer.min.js"></script>
</head>
<body>
    
    <script>
const ap = new APlayer({
    container: document.getElementById('aplayer'),
    mini: false,
    fixed: false,
    autoplay: true,
    theme: '#FADFA3',
    loop: 'all',
    lrcType: 3,
    order: 'random',
    preload: 'auto',
    volume: 0.7,
    mutex: true,
    listFolded: false,
    listMaxHeight: 90,
  audio: [
        {
            name: '大悲咒（翻自 邝美云） ',
            artist: '雯子',  
            url: 'http://m10.music.126.net/20201122150004/9901ddc0811e2d1f57a56ce94dba1312/ymusic/0752/035e/0e0c/08bc6aaa5444ca8236d89f19e27cec96.mp3',
            cover: 'http://p2.music.126.net/tqTMbgf6LOqT2EjtubeJoA==/109951164687959044.jpg?param=300x300',
            lrc: '{{site.baseurl}}/music/大悲咒（翻自 邝美云） -雯子.lrc',
            theme: '#ebd0c2'
        },
        {
            name: '汉传大悲咒',
            artist: '楊李榮',
            url: 'http://m10.music.126.net/20201122150004/1f367d3d93e09f90f1f4c216519863bd/ymusic/555e/5409/0153/b4dc6dccefccefa1232769f4b181d4dc.mp3',
            cover: 'http://p1.music.126.net/Rbw_kZZHFLrH1hZquzBQtg==/109951164167708545.jpg?param=300x300',
            lrc: '{{site.baseurl}}/music/大悲咒（最好听的版本）-楊李榮.lrc',
            theme: '#ebd0c2'
        },
        {
            name: '栀子花',
            artist: '刘若英',
            url: 'http://m10.music.126.net/20201116122447/e9cefb18d4d123f1189273c2459b5168/ymusic/2702/abea/2764/bb35d03618fe15ae405cc532e72c6bfd.mp3',
            cover: 'http://p2.music.126.net/k9u4bzUZa2MHq75SVmcnUg==/109951163105482701.jpg?param=300x300',
            lrc: '{{site.baseurl}}/music/大悲咒-印能法师.lrc',
            theme: '#ebd0c2'
        },
        {
            name: '栀子花',
            artist: '刘若英',
            url: 'http://m10.music.126.net/20201116122447/e9cefb18d4d123f1189273c2459b5168/ymusic/2702/abea/2764/bb35d03618fe15ae405cc532e72c6bfd.mp3',
            cover: 'http://p2.music.126.net/k9u4bzUZa2MHq75SVmcnUg==/109951163105482701.jpg?param=300x300',
            lrc: '{{site.baseurl}}/music/天空之城.lrc',
            theme: '#ebd0c2'
        },
      
      
       {
            name: '张津涤·云菲菲-泛水荷塘',
            artist: '张津涤·云菲菲',
            url: '{{site.baseurl}}/music/张津涤·云菲菲-泛水荷塘.mp3',
            cover: '{{site.baseurl}}/music/张津涤·云菲菲-泛水荷塘.jpg',
            lrc: '{{site.baseurl}}/music/张津涤·云菲菲-泛水荷塘.lrc',
            theme: '#333'
        }
    ]
});

    </script>
</body>
