<p>Create a simple network with some nodes and edges.</p>

<div id="mynetwork"></div>

<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<!--
  Including other packages like Vis Timeline or Vis Graph3D here won't work.
  You need the peer build to do that.
-->

<script type="text/javascript">
 // create an array with nodes
var nodes = new vis.DataSet([
  { id: 1, label: "Node 1" },
  { id: 2, label: "Node 2" },
  { id: 3, label: "Node 3" },
  { id: 4, label: "Node 4" },
  { id: 5, label: "Node 5" },
]);

// create an array with edges
var edges = new vis.DataSet([
  { from: 1, to: 3 },
  { from: 1, to: 2 },
  { from: 2, to: 4 },
  { from: 2, to: 5 },
  { from: 3, to: 3 },
]);
  
// DOT edge styles
var dotDefault =
  "digraph {\n" +
  " // Parent nodes\n" +
  ' lines[label="LINES"]; \n' +
  ' ahs[label="ARROW HEADS"]; \n' +
  "\n" +
  " // Children nodes\n" +
  ' dot[label="both dot"]; \n' +
  ' vee[label="back vee"]; \n' +
  ' diamond[label="diamond and box"]; \n' +
  "\n" +
  " // Line styles\n" +
  ' lines -- solid[label="solid pink", color="pink"]; \n' +
  ' lines -- penwidth[label="penwidth=5", penwidth=5]; \n' +
  ' lines -- dashed[label="dashed green", style="dashed", color="green"]; \n' +
  ' lines -- dotted[label="dotted purple", style="dotted", color="purple"]; \n' +
  "\n" +
  " // Arrowhead styles\n" +
  ' ahs -> crow[label="crow", arrowhead=crow]; \n' +
  ' ahs -> curve[label="curve", arrowhead=curve]; \n' +
  ' ahs -> normal[label="normal", arrowhead=normal]; \n' +
  ' ahs -> inv[label="inv", arrowhead=inv]; \n' +
  ' ahs -> diamond[label="diamond and box", dir=both, arrowhead=diamond, arrowtail=box]; \n' +
  ' ahs -> dot[label="both dot", dir=both, arrowhead=dot, arrowtail=dot]; \n' +
  ' ahs -> vee[label="back vee", dir=back, arrowtail=vee]; \n' +
  "}";  
  
// create a network
var container = document.getElementById("mynetwork");
var data = {
  nodes: nodes,
  edges: edges,
};
var options = {
  physics: {
    stabilization: false,
    barnesHut: {
      springLength: 200,
    },
  },};
var network = new vis.Network(container, data, options);

</script>
      
