

            <!-- Content -->
    <div class="sidebar side content">
    <link href="/assets/css/mm-vertical.css" rel="stylesheet" type="text/css"/>  
      
    <nav class="sidebar-nav">  
    <ul class="metismenu" id="menu">
            <li class="mm-active">
            <a href="#" aria-expanded="true">
              <span class="sidebar-nav-item-icon fa fa-github fa-lg"></span>
              <span class="sidebar-nav-item">目录</span>
              <span class="fa arrow"></span>
            </a>
             <ul>
            <nav id="toc" data-toggle="toc"></nav>
            </ul>
          </li>   
 
                
              <li>
            <a href="#" aria-expanded="false">
                     分类<span class="fa arrow"></span>
            </a>
            <ul class="content-ul" cate>           
              <li>
                      <ul class="animated bounceIn">    
                    {% for category in site.categories %}
                            <a class="sidebar" href="{{ root_url }}/{{ site.all_dir }}#{{ category | first }}" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    {% endfor %}
                        </ul>
              </li>
            </ul>
          </li>
                
                   <li>
                <a href="#" aria-expanded="false">
                  标签<span class="fa fa-tags fa arrow"></span>
                </a>
                <ul class="class="tags-cloud"">
              <li>
                      <ul class="animated bounceIn">   
              {% assign first = site.tags.first %}
                    {% assign max = first[1].size %}
                    {% assign min = max %}
                    {% for tag in site.tags offset:1 %}
                      {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                      {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                      {% endif %}
                    {% endfor %}
                    {% if max == min %}
                        {% assign diff = 1 %}
                    {% else %}
                        {% assign diff = max | minus: min %}
                    {% endif %}

                    {% for tag in site.tags %}
                      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                      {% assign base = temp | divided_by: 4 %}
                      {% assign remain = temp | modulo: 4 %}
                      {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                      {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                      {% else %}
                        {% assign size = base | plus: 10 %}
                      {% endif %}
                      {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                      {% else %}
                        {% assign color = 8 | minus: base %}
                      {% endif %}
                      <a class="sidebar" href="{{ root_url }}/{{ site.categories_dir }}#{{ tag[0] }}">{{ tag[0] }}</a>
                    {% endfor %}
                        </ul>
              </li>
            </ul>
          </li>
                
                
 
            </ul>            
            </nav>
        </div>
