<div class="row">
    <div class="col s12">
        <ul class="tabs teal lighten-1" id="tabs">
            <li class="tab col m3 s12"><a class="white-text" href="#voted">Votes</a></li>
            <li class="tab col m3 s12"><a class="white-text" href="#posts">Posts</a></li>
            <li class="tab col m3 s12"><a class="white-text" href="#followers">Followers</a></li>
            <li class="tab col m3 s12"><a class="white-text" href="#following">Following</a></li>
        </ul>
    </div>
    <div id="voted" class="col s12">
        <h4 class="grey lighten-1 black-text text-lighten-1" title="Votes">+120</h4>
    </div>
    <div id="posts" class="col s12">Test 2</div>
    <div id="followers" class="col s12">Test 3</div>
    <div id="following" class="col s12">Test 4</div>
</div>

<script>var el = document.getElementById('tabs')
var instance = M.Tabs.init(el)</script>