@font-face{
  font-family: 一意孤行;
  src: url("/assets/fonts/一意孤行.ttf");
}
body, code, pre {
    background: #eee;
    background-image:  linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
    font-family: Arial,Menlo,一意孤行,roboto,PingFang,Microsoft JhengHei,noto sans sc,noto sans tc,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif,Monaco,Consolas,Courier New,monospace, Helvetica,Tahom,WenQuanYi Micro Hei,文泉驿微米黑,STXihei,华文细黑,Microsoft YaHei,微软雅黑, SimSun, 宋体, Heiti, 黑体,sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
#mynetwork {
  width: 800px;
  height: 800px;
  border: 1px solid lightgray;
  background-color: #333333;
}

.bordered-link {
  display: inline-block;
  padding: 8px;
  border: 3px solid #FCB326;
  border-radius: 6px;
  box-shadow:
    0 2px 1px rgba(0, 0, 0, 0.2), 
    inset 0 2px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}
.bordered-link:hover  { border-color: #FDD68B; }
.bordered-link:active { border-color: #FEE8BD; }
.grid-stack {
  background: #FAFAD2;
}

.grid-stack-item-content {
  color: #2c3e50;
  text-align: center;
  background-color: #18bc9c;
}
div#accordionExample {
    overflow-y: auto;
    height: 630px;
}
.wrapcat {
    background-color: rgb(255 255 255 / 60%);
    display: none;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px;
    position: absolute;
    color: #ffffff;
}
.spanborder {
    border-bottom: 1px solid #e8f3ec;
    margin-bottom: 2rem;
}
.spanborder span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: -1px;
}
#button-addon1 {
  color: #ffc371;
}
.form-control.shadow-0:focus {
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
}
.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
.nav-item::after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: attr(data-hover);
  display: block;
  height: 2px;
  left: 50%;
  background: #ea5959;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;}
.nav-link,.dropdown-item {
	font-weight: 500;
	font-size: medium;
}
.nav-item:hover::after{  width: 100%;  left: 0; }
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.dropdown-item.active, .dropdown-item:active{color:#212529;}
.dropdown-item:focus, .dropdown-item:hover{background:#fec400;}

/*
* ==========================================
* Bootstrap 4 Contact us form
* ==========================================
*/
#contactus {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
}

#contactus input[type="text"],
#contactus input[type="email"],
#contactus input[type="tel"],
#contactus input[type="url"],
#contactus textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px
}

#contactus input[type="text"]:hover,
#contactus input[type="email"]:hover,
#contactus input[type="tel"]:hover,
#contactus input[type="url"]:hover,
#contactus textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa
}

#contactus textarea {
    height: 100px;
    max-width: 100%;
    resize: none
}

#contactus button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #f0715f;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px
}

#contactus button[type="submit"]:hover {
    background: #f07150;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out
}

#contactus button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5)
}

#contactus input:focus,
#contactus textarea:focus {
    outline: 0;
    border: 1px solid #aaa
}

::-webkit-input-placeholder {
    color: #888
}

:-moz-placeholder {
    color: #888
}

::-moz-placeholder {
    color: #888
}

:-ms-input-placeholder {
    color: #888
}

.feedEkList li{border-bottom:1px solid #D3CAD7; padding:5px;}
.feedEkList li:last-child{border-bottom:none;}
.itemTitle a{font-weight:bold; color: #ecf0f1 !important; text-decoration: none; }
.itemTitle a:hover{ text-decoration:underline }
.itemDate{font-size:11px;color:#AAAAAA;} 

article .archive {
	list-style: none;
	padding: 0;
}
article {
    box-sizing: border-box;
    background: #fff5f561;
    position: relative;
    width: auto;
    padding: 49px;
    border-bottom: 1px solid #b1b1b1;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 0 30px rgba(10,10,0,0.1) inset;
}
.archive .date {
	opacity: 0.5;
	font-size: 0.8em;
}

.archive h3 {
	padding: 10px;
}
article img {
	transition: 0.3s all ease;
}
article a:hover img,article a:hover footer .backtotop:hover,footer article a:hover .backtotop:hover {
	opacity: 0.5;
}

article .category,article .tags {
	text-transform: uppercase;
}
.index article .date {
	font-size: 0.7em;
	opacity: 0.6;
	position: absolute;
	bottom: 10px;
	left: 5px;
}

.index article .post_content {
	padding-bottom: 50px;
}

article ul,article ol {
	list-style: circle;
	padding: 0 40px;
}

article ul li,article ol li {
	padding-left: 0px;
}

article ol {
	list-style: decimal;
}
.sticky-top.sticky-top-offset {
    top: 0px;
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    width: calc(22% - 20px);
}
a.sidebar {
    padding: 0.4rem 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.001em;
    color: #495057;
    margin-bottom: 1px;
    font-weight: 400;
    font-size: 14px;;
    border: 1px solid #dee2e6;
    transition: all 0.3s;
    display: contents;
    width: auto;
}
a.sidebar:hover, a.sidebar:focus {
    border-color: #dd1144;
    background: #ef9696;
    color: #ef9696;
    text-decoration: none;
}
.widget {
	margin: 0;
}
.text-small {
    font-size: 0.9rem !important;
}
.header {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
}
span.badge {
    color: #fff;
    background-color: #ffd4d9;
}
.section-1 {
    background: #f5f5f5;
}
.section-2 {
    background: #F1F1F1;
}
.section-3 {
    background: #EAEAEA;
}
.section-4 {
    background: #E5E5E5;
}
.heart_img img {
    animation: 2.5s ease 0s normal none infinite running animateHeartBeat;
    overflow: inherit;
    position: relative; display:inline-block; max-width:20px;
	    margin: 10px;
}

@keyframes animateHeartBeat {
0% {
    transform: scale(1);
}
5% {
    transform: scale(1.4);
}
10% {
    transform: scale(1.3);
}
15% {
    transform: scale(1.8);
}
50% {
    transform: scale(1);
}
100% {
    transform: scale(1);
}
}
@keyframes animateHeartBeat {
0% {
    transform: scale(1);
}
5% {
    transform: scale(1.4);
}
10% {
    transform: scale(1.3);
}
15% {
    transform: scale(1.8);
}
50% {
    transform: scale(1);
}
100% {
    transform: scale(1);
}
}

/*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/

hr.dashed {
    border-top: 2px dashed #999;
}

hr.dotted {
    border-top: 2px dotted #999;
}

hr.solid {
    border-top: 2px solid #999;
}


hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::selection {
  color: red;
  background: yellow;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #00d2ff;
  background: linear-gradient(to bottom, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgba(243,197,189,10) 0%,rgba(232,108,87,10) 50%,rgba(234,40,3,10) 51%,rgba(255,102,0,10) 75%,rgba(199,34,0,10) 100%); 
}
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.custom-scrollbar-js,
.custom-scrollbar-css {
	overflow-y: auto;
  height: 700px;
}

/* Custom Scrollbar using CSS */
.custom-scrollbar-css {
  overflow-y: scroll;
}

/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #00d2ff;
  background-image: linear-gradient(to top, rgb(132 234 230) 0%, rgb(253 161 191) 100%);
}

::marker {
    font-size: small;
}

blockquote {
	margin-left: 5%;
	padding: 10px;
	box-sizing: border-box;
	border-left: 3px solid #ea6d6d;;
}

code {
	font-family: 'Source Code Pro','Courier New',monospace;
	    background: #fff;
    padding: 0.2rem;
    border-radius: 0.1rem;
    text-shadow: none;
}
p,li {
  font-size: 21px;
  font-weight: 300;
  color: #000;
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", "monospace", "Helvetica";
  line-height: 1.6;
}
.jumbotron:hover {
    opacity: 0.5;
}
a.title {
    color: #7b7065!important;
}
a.nav-link.tags {
    display: block;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.08);
    color: #5e5e5e;
    padding: .4rem;
    padding-right: 1.85rem;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .1s all ease;
    transition: .1s all ease;
}
p.mb-3.lead {
    font-size: small;
}
.tabs .indicator {
    background-color: #222;
}
.postcontent {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background: #ffffff;
}
button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
button.submit {
    height: 30px;
    width: 30px;
    line-height: 10px;
    background: none;
    border: none;
    color: #adadad;
    font-size: 1.1rem;
    position: absolute;
    top: 4px;
    left: 20px;
    transform: translateY(-2px);
}
.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}
.search {
    position: relative;
    width: 150px;
    height: 35px;
    text-align: right;
    line-height: 30px;
    padding-left: 20px;
}

.search .search-icon {
    float: none;
    height: 100%;
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
}

.search .search-input {
    text-indent: 12px;
    background: #e2e2e2 no-repeat 9px center;
}

.search .search-clear {
    display: none;
}

.search .search-results {
    display: block;
    z-index: 1000;
    position: absolute;
    top: 60px;
    right: auto;
    width: 100%;
    max-height: 500px;
    overflow: auto;
    text-align: left;
    border-radius: 5px;
    background: #2d2d2d !important;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    list-style: cjk-ideographic;
}

.search .search-results .result-item {
    background: #ffffff;
    color: #3a3a3a;
    margin: 5px;
    text-align: center;
	    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.form-control:focus {
  box-shadow: none;
}


.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #28a745;
}
.flex-container {
    -webkit-flex-wrap: wrap; 
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    width: auto;
    height: auto;
    background-color: #ffffff00;
}
/**
 * ----------------------------------------
 * animation class
 * ----------------------------------------
 */
.text-blur-out {
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) ;
	        animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) ;
}
/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

a:hover {
	text-decoration: none;
}

a,.a:hover {
	-webkit-transition:all 0.2s;
	transition: all 0.2s;
	color: #f5f8fb;
}
.container-fluid {
	width:94%;
	margin:0px auto;
	max-width: 94%;
}
.border-round-0 {
	border-radius: 0;
}
blockquote {
    border-left: 7px solid #bd081c;
    padding-left: 20px;
    margin-left: 20px;
    font-style: italic;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
    margin-bottom:1rem;
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(1.35);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(1.7);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(2.05);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(2.4);
    opacity: 0.0;
 }
}
.mt-neg100 {
	margin-top: -100px;
}
.min-50vh {
	min-height: 50vh;
}
.dropdown-header {
	font-size: 1.5rem;
}
.fixed-top {
	border-bottom: 1px solid #c3c3c3;
}
footer.footer {
	border-top: 1px solid #f1f1f1;
        background-color: #007bff;
}
.overlay {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	opacity:0;
	-webkit-transition:.2s ease;
	transition:.2s ease;
	background-color: #008CBA;
}
.card {
    transition: ease .1s;
}
.card-pin:hover .overlay {
	opacity:.5;
	border:5px solid #f3f3f3;
	-webkit-transition:ease .2s;
	transition:ease .1s;
	background-color:#000000;
	cursor:-webkit-zoom-in;
	cursor: zoom-in;
}
.more {
	color:white;
	font-size:14px;
	position:absolute;
	bottom: 9px;
    right: 10px;
	text-transform:uppercase;
	-webkit-transform:translate(-20%,-20%);
	transform:translate(-20%,-20%);
	-ms-transform: translate(-50%,-50%);
}
.card-pin .card-title {
	color:#ffffff;
	text-align:center;
	font-size:1.2em;
    margin-bottom:0;
}
.card-pin.raco .card-title {
    text-align: left;
}
.notraco {
    color: #333;
    border: 0;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 15px 18px;
    position: relative;
}
.card-title {
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
}

.social {
	position:relative;
	-webkit-transform:translateY(-50%);
	transform: translateY(-50%);
}
.social .fa {
	margin:0 3px;
}
article .card-body {
	padding:1.25rem 2rem;
}
.pagination span,.pagination a {
	padding:7px 18px;
	border:1px solid #eee;
	margin-left:-2px;
	margin-right:-2px;
	display:inline-block;
	font-size:14px;
	font-weight:500;
}
.pagination span.webjeda {
	background:#bd081c;
	color:#fff;
	border:1px solid #bd081c;
}
.pagination a,.pagination span.prev,.pagination span.next {
	background-color:#ffffff;
}
.pagination {
	color:#333;
}
.pagination a {
	color:#bd081c;
}
.pagination a:hover {
	background-color:#f1f1f1;
	color:#333;
	text-decoration:none;
}
.pagination {
	text-align: center;
}
.dropdown-item.active, .dropdown-item:active {
    background-color:transparent;
}
.btn-gray {
    background-color: #efefef;
    color:#333;
}
.btn-gray:hover {
    background-color:#ddd;
}
.navbar-nav.categories  a   {
    font-weight: 700;
	font-family: system-ui;
}

.showcat {
    margin: auto;
    padding: 10px 15px 40px 15px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.wrapcat .btn {
    border: 0;
    padding: 0 6px 2px 6px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    font-size:13px;
}
.grid-item:hover .wrapcat {
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex-direction: row;
    -moz-box-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
     transition: all 0.2s;
}
.grid-item:hover i.text-muted {
    color:#bd081c !Important;
     transition: all 0.2s;
    position: relative;
}

.grid-item:hover .fa:before {    
     -webkit-animation: pulse 2s ease-in;
    -moz-animation: pulse 2s ease-in;
     animation: pulse 2s ease-in;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


.PageNavigation a {
    position: fixed;
    top: 47%;
    font-weight: 700;
    color: #989696;
    text-align: center;
    background: #ddd;
    border-radius: 40px;
    font-size:12px;
    line-height: 1.3;
}
.PageNavigation a i {
    font-size:40px;
    width:60px;
    height:60px;
    line-height:60px;
    border-radius:50%;
    
}
.PageNavigation a:hover {
    color:#333;
}
a.prev {    
    left: 100px;    
}
a.next {
    right: 100px;
}
#resultsmodal {
     background: rgba(255,255,255,0.8);
}
.socials-media .fab {font-size:20px;}
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #ff6b6b;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}
