---
author: someone
title: "画册二"
image: assets/photos/gallery-2.jpg
tags: [止观,佛学,图片]
category: [佛教,gallery]
summary: 画册二的摘要。
---

{% include menu-header.html  %}  
<h1 class="logo-1">
      凡所有相 ⚡ 皆是虚妄
</h1>
<!-- Gallery Section-->
    <section class="pt-5 pb-5 gallery no-padding">    
      <div class="row">
          {% for image in site.static_files %}
    {% if image.path contains '_posts/gallery/gallery-2' %}
                <div class="mix col-lg-3 col-md-3 col-sm-6">
                    <div class="item">
                       <a href="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" data-fancybox="gallery" class="image">
                <img src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}" class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="fa fa-search-plus"></i></div></a>
			   <h2 class="card-title title">{{ post.title }}</h2>
			</div>
                    </div>
          		{% endif %}
         {% endfor %}
            </div>
    </section>
