---
author: someone
title: "画册一"
image: assets/photos/gallery-1.jpg
tags: [止观,佛学,图片]
category: [佛教,gallery]
summary: 画册一的摘要。
---

{% include menu-header.html  %}  
<h1 class="logo-1">
      凡所有相 ⚡ 皆是虚妄
</h1>
<!-- Gallery Section-->
    <section class="pt-5 pb-5 gallery no-padding">    
      <div class="row">
    {% for image in site.static_files %}
    {% if image.path contains '_posts/gallery/gallery1' %}
                <div class="mix col-lg-3 col-md-3 col-sm-6">
                    <div class="item">
                        <a href="{{ site.baseurl }}{{ image.path }}" data-fancybox="gallery" class="image">
                <img src="{{ site.baseurl }}{{ image.path }}" alt="..." class="img-fluid">
                    <div class="overlay d-flex align-items-center justify-content-center"><i class="fas fa-search-plus"></i></div></a></div>
                    </div>
          {% endif %}
         {% endfor %}
            </div>
    </section>
