<!DOCTYPE html>
<html lang="zh">

    {% include head.html %}  
<body data-spy="scroll" data-target="#toc">
    
    	<ul class="navbar-nav mr-auto align-items-center">            
            		{% include menu-header.html %} 		
    	</ul>

     <!-- Content -->
    <main role="main">        
        {{ content }}        
    </main>
    
    <footer class="footer pt-5 pb-5 text-center">        
     
            <ul class="list-unstyled">

            </ul>    

    </footer>
  {% include foot.html %} 
</body>
    
</html>
