---
layout: alt
---

  <div class="row-fluid">
    <div class="span2">
		{% include Accordion.html %}   
    </div>
    <div class="span10">
        {% assign author = site.authors[page.author] %}
                <div class="content_container">
                    <div class="card shadow-sm">
		{% include sticky_navbar.html %}     
                    <article>
                       	  <h4 class="post_title">
                            {{ page.title }}
                          </h4>	        			
	                        <div class="meta d-flex align-items-center">
                        {% if author.avatar %}
                        <img class="rounded-circle" src="/{{author.avatar}}" alt="{{author.name}}" width="70"/>
                        {% endif %}
		<small class="ml-3">{{ author.name }} <span><a target="_blank" href="{{site.baseurl}}/author-{{ author.name | slugify }}" class="btn btn-outline-success btn-sm btn-round ml-1">查看</a></span>
                            <span class="text-muted d-block mt-1"><i class="fa fa-calendar mr-1"></i>{{ page.date | date: "%F" }} · 字数-{{ content | strip_html | strip_newlines | split: "" | size }} · 预计{% include meta-read-time.html %}</span>
						</small>
				

            <div class="widget ml-auto">

       <div class="p-1 bg-light rounded rounded-pill shadow-sm">
            <div class="input-group">
              <div class="input-group-prepend">
                <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i class="fa fa-search"></i></button>
              </div>
              <input type="text"  id="text-search" placeholder="页内搜索?" aria-describedby="button-addon2" class="form-control border-0 bg-light">
            </div>
          </div>		    	    
       </div>
          </div>
			    
                        <div class="post_content">
                            {{ content }}
			<hr data-content="AND" class="hr-text">
                        </div>
                              
                        <div class="catsandtags">        
                            {% if page.tags %}
                            <p class="tags">
                                <span class="sidebar-tag-link">Tags:</span>
                                {% for tag in page.tags %}
                                  <a class="btn btn-outline-success btn-sm btn-round ml-1" href="{{ root_url }}/{{ site.tag_dir }}#{{ tag }}">{{ tag | join: "/" }}</a>
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>

            <!-- Comments -->
            {% if page.comments != false %}
                {% include comments.html %}
            {% endif %}		    
			    
                       <div class="post_nav">
                        {% if page.previous.url %}
                        <a class="prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left"></i><span class="short">上一篇</span></a>
                        {% endif %}
                        {% if page.next.url %}
                        <a class="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"><span class="short">下一篇</span><i class="fa fa-angle-right"></i></a>
                        {% endif %}
                      </div>  
			    		    
	    </article>	    
            </div> 
       </div>  

    </div>
  </div>

  
  
